* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: #E5E5E5;
    width: 100%;
    font-family: 'Roboto';
}

textarea, input[type=submit], input[type=text], input[type=email] {
    font-family: 'Roboto';
}


h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

body .intro-text-medium {
    font-size: 24px;
    font-weight: 500;
}

body .intro-text-regular {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.50;
}

.headline-regular {
    font-size: 17px;
    font-weight: 400;
}

.headline-medium {
    font-size: 17px;
    font-weight: 500;
}

.caption-1 {
    font-size: 15px;
    font-weight: 400;
}

.caption-2 {
    font-size: 13px;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: row;
    align-items: end;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 122px;
    justify-content: space-between;
}

#hero h1, .hero-cta, #hero p {
    margin-bottom: 30px;
}

#wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul a {
    padding: 0 30px;
    font-weight: 500;

}

nav ul a:link {
    text-decoration: none;
    color: #6B708D;
}

.blue-button {
    text-decoration: none;
    background-color: #072AC8;
    color: #fff;
    padding: 15px 36px;
    transition: 0.2s;
}

.gray-link {
    text-decoration: none;
    color: #6B708D;
    transition: 0.2s;
    opacity: 1;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.columna-40 {
    width: 40%;
}

.columna-60 {
    width: 60%;
}

.hero-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-cta a {
    margin-right: 20px;
}

#hero p {
    color: #6B708D;
}

.hero-image {
    background-image: url('images/hero-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    min-height: 650px;
    margin-top: 100px;
}

.card-1 {
    transform: translateX(-30px);
}

.card-1 img {
    max-width: 100%;
}

.card-2 {
    align-self: end;
    transform: translateY(75px);
}


.card-2 img {
    max-width: 100%;
}

#logos {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.logos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}

.logos-container img {
    margin: 30px 30px;
    filter: grayscale(100%);
    transition: all 0.2s;
}

.logos-container img:hover {
    filter: grayscale(0%);
}

.blue-cta {
    color: #072AC8;
    text-decoration: none;
    transition: 0.2s;
    opacity: 1;
}

.blue-cta:hover, .gray-link:hover, footer a:hover {
    opacity: 0.5;
}

.article-container {
    display: flex;
}

.article-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-box-shadow: 0px 54px 82px -46px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 54px 82px -46px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 54px 82px -46px rgba(0, 0, 0, 0.27);
}

.service-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 35px;
}

.article-img {
    display: flex;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.nav-bar {
    z-index: 1;
}

#contact-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {


    .hide {
        display: none;
    }

    #contact-mobile {
        display: block;
    }

}


.article-img img {
    object-fit: cover;
    width: 100%;
    transition: transform .3s;
}

.article-img img:hover {
    transform: scale(1.1);
}

.info-wrapper {
    min-height: 175px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-wrapper {
    flex: 1 1 300px;
    margin: 0 10px 20px;
}

.service-wrapper {
    flex: 1 1 300px;
    margin: 0 10px 20px;
}


.mb-50 {
    margin-bottom: 50px;
}

.mb-150 {
    margin-bottom: 150px;
}

.section-padding {
    padding: 0 50px;
}

.section-padding-low {
    padding: 0 10px;
}

.testimonials-wrapper {
    background-color: #292E47;
    display: flex;
    flex-direction: row;
    padding: 30px;
    min-height: 400px;
}

.emojis {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.emojis img {
    max-width: 150px;

}

.review-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.clients-title {
    color: #fff;
}

.text-center {
    text-align: center;
}

.testim-profile-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.testim-avatar img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
}

.testim-quote {
    color: #FFC600;

}

.testim-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.testim-name {
    color: #A2D6F9;
}

.testim-company {
    color: #F4F6FC;
    font-size: 14px;
}

.cta-form-container {
    width: 100%;
    margin: auto;
    max-width: 630px;
}

.bg-white {
    background: #fff;
}

.icon-bg {
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    background-color: #ECF7FF;
}

.icon-bg img {
    padding: 10px;
    max-width: 50px;
}

.service-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    padding: 10px;
}

.service-wrapper {
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter-form {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}



.w-50 {
    width: 50%;
    min-height: 100px;
}

.footer-logo {
    margin-bottom: 20px;
}

footer {
    display: flex;
    min-height: 240px;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #6B708D;
    transition: 0.2s;
    opacity: 1;
}

footer p {
    color: #6B708D;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.col-menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type=submit] {
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 37px;
    text-decoration: none;
    cursor: pointer;
    background-color: #072AC8;
    transition: 0.2s;
}

input[type=submit]:hover, .blue-button:hover {
    background-color: #3c5ffc;
}

.newsletter-title, .newsletter-subtitle {
    margin-bottom: 20px;
    padding: 0 20px;
}


.newsletter-wrapper {
    min-height: 400px;
    width: 100%;
    max-width: 1320px;
    background-color: #FFC600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    color: #6B708D;
}

.newsletter-content {
    min-height: 227px;
    min-height: 227px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#newsletter-email {
    padding-left: 50px;
    background: url("images/mail.svg") no-repeat left;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: left;
    background-size: auto;
    background-size: 20px;
    background-color: #fff;
    background-position-x: 20px;
}

.newsletter-input {
    width: 80%;
    padding: 20px;
    border: none;
}

.newsletter-box {
    width: 100%;
}

.post-banner {
    width: 100%;
    height: 400px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 50px;
}

#post {
    margin-top: 130px;
}

.post-title {
    margin-bottom: 30px;
}

.post-intro {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 60px;
}

.post-content p {
    margin-bottom: 20px;
}


.post-content {
    color: #6B708D;
    margin-bottom: 50px;
}

#contact {
    margin-top: 130px;
}



.full-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.two-col {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.half-col {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.half-col.half-first {
    margin-right: 40px;
}


#name-error, #email-error, #phone-error, #message-error {
    display: none;
}

#name-error.show, #email-error.show, #phone-error.show, #message-error.show {
    display: block;
}


#form-container input, #form-container textarea {
    padding: 25px;
    border: none;
}

.error-message {
    background-color: #ffb3b3fa;
    padding: 4px 8px;
    font-size: 0.8rem;
    color: #ae0808;
}

#form-container label {
    padding: 0px 0px 15px 0px;
    color: #6B708D;
}

.nav-bar a:visited {
    color: inherit;
}

.nav-bar a:hover {
    opacity: 0.5;
}

.nav-bar a {
    transition: 0.3s;
    opacity: 1;
}

#contact-button {
    display: flex;
}

#menu-toggle {
    display: none;
}

.service-info p {
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {

    .two-col {
        margin-top: 0;
    }

    .half-col {
        margin-top: 40px;
    }


    #menu-icon-1, #menu-icon-2 {
        font-size: 14px;
        width: 25px;
    }

    .nav-bar {
        position: absolute;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;
    }

    #menu-icon-2 {
        display: block;
    }

    #menu-icon-1 {
        display: block;
    }

    #menu-icon-1.active {
        display: none;
    }

    #menu-icon-2.active {
        display: none;
    }



    .nav-bar:has(.active) {
        padding-top: 20px;
        background-color: #f3f3f3;
    }

    .logo {
        z-index: 9;
    }

    .logo img {
        max-width: 80px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul.active {
        display: flex;
    }



    #contact-button {
        display: none;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    header {
        text-align: center;
        align-items: center;
        min-height: inherit;
    }


    #menu-toggle {
        display: flex;
        width: 40px;
        height: 40px;
        z-index: 1;
    }



    .newsletter-wrapper {
        min-height: 300px;
    }

    .service-box {
        padding: 20px;
    }

    #hero {
        flex-direction: column-reverse;

    }

    .columna-40, .columna-60 {
        width: 100%;
    }


    .columna-40 {
        margin-top: 40px;
    }

    .hero-image {
        margin-top: 50px;
        min-height: 280px;
    }

    .info-wrapper {
        min-height: 125px;
        padding: 15px;
    }

    footer {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .mb-150 {
        margin-bottom: 50px;
    }

    .w-50 {
        width: 100%;
        padding: 0 20px;
    }

    .w-50.footer-menu {
        flex-direction: column;
    }

    .service-wrapper {
        min-height: 125px;
        padding: 40px;
    }

    .col-menu-footer a {
        margin-bottom: 10px;
    }

    .emojis {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .review-box {
        width: 100%;
        display: flex;
        min-height: 275px;
    }

    .testimonials-wrapper {
        background-color: #292E47;
        display: flex;
        flex-direction: column;
    }

    .emojis img {
        max-width: 70px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .blue-button {
        padding: 15px 25px;

    }

    #logos {
        padding: 50px;
    }

    .article-container {
        flex-wrap: wrap;
    }

    .section-padding {
        padding: 0 20px;
    }
}



@media only screen and (max-width: 600px) {

    .half-col {
        width: 100%;
    }

    .two-col {
        flex-direction: column;
    }

    .article-wrapper {
        margin-bottom: 30px;
    }

    .service-wrapper {
        margin-bottom: 30px;
    }

    .logos-container div {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .post-intro {
        flex-direction: column;
    }

    .completed-on {
        margin-top: 10px;
    }
}